/*添加英文字体*/
@font-face {
    font-family: 'Suisse Int';
    src: url('../font/SuisseIntl-Regular-WebXL.woff2') format('woff2');
}

/*iconfont*/
.icon {
    width: 1em;
    height: 1em;
    margin-right: 0.2em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}

/*全部*/
* {
    box-sizing: border-box;
}

/*全局*/
body {
    -webkit-font-smoothing: antialiased;
    font-family: 'Suisse Int', Helvetica, Arial, sans-serif;
    background: #f1f1f1;
    margin-top: 0;
    margin-left: 1em;
    margin-right: 1em;
}

h1 {
    line-height: 1.75;
    font-weight: 500;
}

h2 {
    line-height: 1.75;
    font-weight: 400;
}

p {
    margin: 0.5em 0;
    line-height: 2;
    color: rgba(0, 0, 0, .6);
}

a {
    position: relative;
    text-decoration: none;
    color: #000;
    font-size: 1em;
}

/* 超链接的动画 */
a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 0;
    height: 1px;
    background: rgb(0, 0, 0);
    transition: all .3s;
}

/* 超链接的动画 */
a:hover::after {
    width: 100%;
    right: 0;
}